*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 200px;
}

.my_star, .my_dark_star{
    width: 300px;
}

.my_dark_star.contact-section{
    width: 200px;
}

i.fas.fa-star{
    padding: 0 5px;
}

.my_star::after, .my_star::before,
.my_dark_star::after, .my_dark_star::before{
    content: "";
    display: inline-block;
    width: 25%;
    height: 3px;
    line-height: 3px;
    vertical-align: middle;
    border-radius: 1px;
}

.my_star::after, .my_star::before{
    background-color: rgb(255, 255, 255);
}

.my_dark_star::after, .my_dark_star::before{
    background-color: rgb(44, 62, 80);
}

.my_dark_star i.fas.fa-star{
    color: rgb(44, 62, 80);
}

.img_portfolio{
    width: 100%;
}

.my_border-form{
    border: 0;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-radius: 0;
}

.my_social-icon a{
    color: rgb(255, 255, 255);
}

.my_creator-link{
    color: rgb(26, 188, 156);
}

/* COLORI DI SFONDO */

.my_dark-grey{
    background-color: rgb(44, 62, 80);
}

.my_marine-green{
    background-color: rgb(26, 188, 156);
}

.my_dark-blue{
    background-color: rgb(58, 84, 109);
}