*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
.square-box{
    width: 100px;
    height: 100px;
}

.test-box{
    width: 300px;
    height: 150px;
}

/* COLORI DI SFONDO */

.dark-blue{
    background-color: rgb(44, 62, 80);
}

.marine-green{
    background-color: rgb(26, 188, 156);
}
